body {
    margin: 0;
    background: #000;
}
.home-main {
    background: url("/static/img/background.png")  no-repeat ;
    background-size: cover;
    height: 750px;
}
.opacity {
    width: 100%;
    height: 100%;
    background: rgba(43, 23, 16, 0.59);
}
.navigation {
    margin: auto;
    width:830px;
}
.navigation a {
    padding-top: 31px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;    
    color: #FFFFFF;
    text-decoration: none;
    display:inline-block;
    opacity: none; 
}
.navigation a:hover {
    border-bottom: 2px solid #FFFFFF;
}
.navigation-about {
    margin-right: 125px;
}
.navigation-menu {
    margin-right: 105px;
}
.navigation-work_schedule {
    margin-right: 180px;
}
.home-main h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 121px;
}
.home-main p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 31px;
}	
.home-main-btn {
    margin: auto;
    width: 300px;
    margin-top: 130px;
}
.home-main-btn a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    background: #CC8B86;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 104px;
    padding-right: 110px;
    
}
.home-main-btn a:hover {
    cursor:pointer;
    background: #CC8B70;
}


.about {
    padding: 80px 274px 90px 274px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #664B42;
    background-color: #EFE6E4;
}




.features {
    background-color: #664B42;
}
.features-content {
    margin: auto;
    width: 1100px;
}
.features-item {
    text-align: center;
}
.features-item h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 60px;
}
.features-item p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 70px;
}




.menu {
    background-color: #EFE6E4;
    padding-top: 30px;
    padding-bottom: 80px;
}
.menu-content {
    margin: auto;
    width: 1100px;
}
.menu-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: #664B42;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 50px;
}
.menu-item {
    display: inline-block;
    margin-right: 70px;
}
.menu-item p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #664B42;
    margin: 0;
    margin-bottom: 10px;
}
.menu-item img {
    margin-bottom: 20px;
}
.menu-invitation {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #664B42;
    margin-top: 100px;
}




.work_schedule {
    background-color: #EFE6E4;
    padding-top: 15px;
    padding-bottom: 65px;
}
.work_schedule p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #664B42;    
}




.contacts {
    background-color: #664B42;
}
.contacts-content {
    margin: auto;
    width: 1000px;
}
.contacts-info {
    text-align: left;
    color: #FFFFFF;
    vertical-align: top;
}
.contacts-info h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    margin-top: 90px;
    margin-bottom: 90px;
}
.contacts-info p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin: 0;
    margin-bottom: 30px;
}
.contacts-info-img {
    margin-left: 200px;
}
.contacts-btn {
    margin: 0;
    margin-top: 90px;
}
